<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @problem.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.Description %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
